<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: rgb(153, 153, 139);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
    <title>Covid 19 Cases Web App</title>
</head>

<body>
    <h4>Country code: {{ country_code }}</h4>
    <h4>Alpha 3 Code: {{ alpha3code }}</h4>
    <h4>Country name: {{ country_name }}</h4>
    <h4>Population: {{ population }}</h4>
    <h4>New cases: {{ new_cases }}</h4>
    <h4>Percentage of population involved in new cases: {{ percentage }}%</h4><br>
    {% for country in last_5 %}
    <p>{{ country.country_name }} | New cases: {{ country.new_cases}}</p>
    {% endfor %}
</body>

</html>